{% extends 'shared/base.html' %}
  {% block content %}
    <h1>Open A Library Location</h1>


    <form action="{% url 'libraryapp:libraries' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title">
      </fieldset>
      <fieldset>
          <label for="address">Address: </label>
          <input id="address" type="text" name="address">
      </fieldset>
    {% comment %} When the user fills out the form and clicks the submit button, the browser will collect all the values of the form and submit a POST request to a URL. You must then handle that request [in views/books/list.py] and create a book. (NSS Ch5 Documentation) {% endcomment %}
      <input type="submit" value="Add It" />
    </form>
  {% endblock %}