{% extends 'shared/base.html' %}
  {% block content %}
    <h1>Libraries</h1>
    {% comment %} the key name all_books below comes from the context object (dictionary) in views/books/list.py {% endcomment %}
    <ol>
    {% comment %} for loops and if statements, wrap in {% %}  {% endcomment %}
    {% for library in all_libraries %}
        <li>
            {% comment %} wrap interpolations in {{ }} {% endcomment %}
            <a href="{% url 'libraryapp:library' library.id %}" > {{ library.title }} </a>
            is located at {{ library.address }}
        </li>
    {% endfor %}
    </ol>
  {% endblock %}