{% extends 'shared/base.html' %}
  {% block content %}
    <h1>{{ book.title }}</h1>
    <h2>By {{ book.author }}</h2>

    <div>Published in {{ book.year_published }}</div>
    <div>ISBN: {{ book.isbn_number }}</div>
    <form action="{% url 'libraryapp:book' book.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="actual_method" value="DELETE">
      <button>Delete</button>
    </form>
    <form action="{% url 'libraryapp:book_edit_form' book.id %}" method="GET">
      {% csrf_token %}
      {% comment %} <input type="hidden" name="actual_method" value="GET"> {% endcomment %}
      <button>Edit</button>
    </form>
  {% endblock %}